/.DS_Store
/Lab3_SelectionStatements_StudentTemplate.py
/caloriemeter.py
/lab2.py
/lab3.py
/lab4.py
/lab5.py
/lab5_StringDecode_StudentTemplate.py
/practice2.py
/practice3.py
/practice4.py
/project1.py
/textfile